*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--cor-1);
    font-family: var(--font);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60vw;
    margin: 30px auto;
    padding: 12px;
    background-color: var(--cor-3);
    border-radius: var(--radius-normal);
    -webkit-box-shadow: 20px 21px 69px 11px rgba(117,38,67,0.45);
    -moz-box-shadow: 20px 21px 69px 11px rgba(117,38,67,0.45);
    box-shadow: 20px 21px 69px 11px rgba(117,38,67,0.45); 
}

main h1{
    color: var(--cor-font);
    text-align: center;
}

section{
    display: flex;
    gap: 8px;
}

.lista{
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.lista h2{
    color: var(--cor-font);
    font-weight: 500;
    text-align: center;
}

.card{
    background-color: var(--cor-1);
    border-radius: var(--radius-normal);
    display: flex;
    flex-direction: column;
    padding: 8px;
    gap: 10px;
}

.card p{
    padding: 5px;
    color: var(--cor-font-card);
}

.form{
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.form input{
    border: 1px solid var(--cor-7);
    border-radius: var(--radius-small);
    padding: 8px 6px;
}

.button{
    background-color: var(--cor-1);
    border-radius: var(--radius-small);
    border: solid 1px var(--cor-7);
    color: var(--cor-7);
    padding: 6px 16px;
    align-self: center;
    cursor: pointer;
}

.button:hover{
    background-color: var(--cor-7);
    color: var(--cor-1);
}

.box-button{
    display: flex;
    gap: 8px;
}

.box-button .button{
    flex-grow: 1;
    flex-basis: 0;
}

footer{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 10px;
}

footer p, span{
    color: var(--cor-font-card);
    text-align: center;
}
